<!DOCTYPE html>
<html>
	<head>
		<title>CPU Meter</title>
	</head>

	<body>
		<header>
			<section><h1>node CPU monitor</h1></section>
			<section><p>node micro service that feeds your computers central processing unit's usage</p></section>
		</header>

		<main>
		<%- body %>
		</main>

	</body>
</html>
